build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
!**/.vscode/
.vscode/

### react ###
!**/kvmdc/node_modules/
kvmdc/node_modules/
!**/front-end/node_modules/
front-end/node_modules/
.env
