###  npm ###
.git/
server/buils/
server/node_modules/
server/package-lock.json   # For npm
server/package-lock.json   # For npm
venv
.venv
.env
### react ###
client/node_modules/
client/package-lock.json   # For npm
client/package-lock.json   # For npm
node_modules
