.DCFooter {
    border: none;
    margin: 0;
    padding: 0;
    /* position: relative; */
    text-align: left;
    vertical-align: middle;
    /* background-image: linear-gradient(rgb(152, 65, 202), rgb(138, 105, 16)); */
    background-image: linear-gradient( rgb(199, 15, 39), rgb(116, 17, 17));
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    height: 25px;
    max-height: 25px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.DCFooter h3 {
    margin: 0;
    padding: 0; 
    vertical-align: top; 
    font-style: italic;
}