.DCBody {
    flex-grow: 1;
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    top:0;
    left:0;
    /* display: inline-block; */
    vertical-align: top; /* here */
    text-align: top;
    background-color: blue;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr;
    min-height: 650px;
    height: 100%;
    width: 100%;
}