.DCMenu {
    margin: 0;
    padding: 0;
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
    top: 30px;
    left: 0px;
    position: fixed;
    /* display: inline-block; */
    vertical-align: top; /* here */
    /* vertical-align: middle; */
    text-align: top;
    background-image: linear-gradient(rgb(137, 139, 143), rgb(109, 106, 106));
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 8fr;
    height: 25px;
    width: 100%;
    /* <h3>Hosts</h3>
    <h3>Templates</h3>
    <h3>Data Storage</h3>
    <h3>Networks</h3>
    <h3>Reports</h3> */
}
.DCMenu#child {
    margin: 0 auto;
}
.DCMenu h3 {
    /* position: relative; */
    /* display: inline-block; */
    vertical-align: top; /* here */
    margin: 0;
    padding: 0;
    border: none;
    /* border-color: rgb(93, 95, 95); */
    padding-left: 4px;
    border-radius: 4px;
    font-style: bold !important;
    width: 80;
    max-height: 20px;
    height: 20x;
    /* min-width: 90px; */
    max-width: 100px;
    background-color: #585353;
       max-height: 20px;
    height: 20x;
 
    color: #fff;
    padding: 3px 6px;
    background-color: #f34a34;
    background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
    box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
    border-radius: 14px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    border: 0;
  
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  
    cursor: pointer; 

}